@mixin glass($color, $opacity, $blur) {
    background: rgba( $color, $opacity );
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( $blur );
    -webkit-backdrop-filter: blur( $blur );
    // border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header, .footer {
    @include glass(#fff, 0.2, 5px)
}

.header {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, #40e0d0,#ff8c00, #ff0080) 1;
}


.footer {
    border-top-style: solid;
    border-top-width: 3px;
    border-image: linear-gradient(to left, #40e0d0,#ff8c00, #ff0080) 1;
}

.text-glass-dark {
    color: #3b4743;
}

.input-search {
    @include glass(#ccc, 0.8, 5px)
}

.home-container {
    padding-top: 97px;
    padding-bottom: 53px;
}

.gen-navigation {
    left: 16%;
    @media (min-width: 576px) {
        left: 20%
    }
    @media (min-width: 768px) {
        left: 27%
    }
    @media (min-width: 992px) {
        left: 33%
    }
    @media (min-width: 1200px) {
        left: 36%
    }
    @media (min-width: 1400px) {
        left: 37.5%
    }
}