.type-icon {
    width: 1rem;
    height: 1rem;
    background-size: 51%;
    background-repeat: no-repeat;
    background-position: center;
    &.bug {
        background-color: #92BC2C;
        background-image: url(../assets/types/bug.svg);
    }
    
    &.dark {
        background-color: #595761;
        background-image: url(../assets/types/dark.svg);
    }
    
    &.dragon {
        background-color: #0C69C8;
        background-image: url(../assets/types/dragon.svg);
    }
    
    &.electric {
        background-color: #F2D94E;
        background-image: url(../assets/types/electric.svg);
    }
    
    &.fire {
        background-color: #FBA54C;
        background-image: url(../assets/types/fire.svg);
    }
    
    &.fairy {
        background-color: #EE90E6;
        background-image: url(../assets/types/fairy.svg);
    }
    
    &.fighting {
        background-color: #D3425F;
        background-image: url(../assets/types/fighting.svg);
    }
    
    &.flying {
        background-color: #A1BBEC;
        background-image: url(../assets/types/flying.svg);
    }
    
    &.ghost {
        background-color: #5F6DBC;
        background-image: url(../assets/types/ghost.svg);
    }
    
    &.grass {
        background-color: #5FBD58;
        background-image: url(../assets/types/grass.svg);
    }
    
    &.ground {
        background-color: #DA7C4D;
        background-image: url(../assets/types/ground.svg);
    }
    
    &.ice {
        background-color: #75D0C1;
        background-image: url(../assets/types/ice.svg);
    }
    
    &.normal {
        background-color: #A0A29F;
        background-image: url(../assets/types/normal.svg);
    }
    
    &.poison {
        background-color: #B763CF;
        background-image: url(../assets/types/poison.svg);
    }
    
    &.psychic {
        background-color: #FA8581;
        background-image: url(../assets/types/psychic.svg);
    }
    
    &.rock {
        background-color: #C9BB8A;
        background-image: url(../assets/types/rock.svg);
    }
    
    &.steel {
        background-color: #5695A3;
        background-image: url(../assets/types/steel.svg);
    }
    
    &.water {
        background-color: #539DDF;
        background-image: url(../assets/types/water.svg);
    }
}